#Sudoku{
    display: inline-block;
    border: 0.5px solid black;
}
.Row{
    display: block;
}
.Cell{
    vertical-align: top;
    display : inline-block;
    text-align: center;
    border  : 0.5px solid black;
    width     : 5vh;
    height    : 5vh;
    font-size: 5vh;
}
.Cell::-webkit-inner-spin-button,
.Cell::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.Cell[type=number]{
    -moz-appearance: textfield;
}

button,
#Control{
    font-size: 2.5vh;
}
#Control{
    margin-top: 5px;
}
